{% extends 'szablon.html' %}

{% block naglowek %}Uczelnia{% endblock naglowek %}

{% block tresc %}
<h2>Dodaj uczelnię:</h2>
<form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
  <!--  <input type="text" name="nazwa" maxlength="30">
    <br>
    <input type="text" name="kod" maxlength="6">
    <br> -->
    <input type="submit" value="Zapisz">
</form>
<h2>Lista uczelni</h2>
<ol>
    {% for uczelnia in uczelnia %}
        <li>{{ uczelnia.nazwa }}</li>
    {% endfor %}
</ol>
{% endblock tresc %}
